    <aside id="sidebar_secondary" class="tabbed_sidebar">

        <aside id="sidebar_main">
            
            <div class="menu_section">
                <ul class="section_aside">
                    
                    <li class="current_section" title="Accueil">
                        <a href="{{ path('home_index') }}">
                            <span class="menu_icon"><i class="material-icons">home</i></span>
                            <span class="menu_title">Accueil</span>
                        </a>
                    </li>

                    <li title="Tableau de bord">
                        <a href="{{ path('mainDashBoard_index') }}">
                            <span class="menu_icon"><i class="material-icons">equalizer</i></span>
                            <span class="menu_title">Tableau de bord</span>
                        </a>
                    </li>

                    <li title="Secteurs">
                        <a href="{{ path('sectors_index') }}">
                            <span class="menu_icon"><i class="material-icons">tab_unselected</i></span>
                            <span class="menu_title">Secteurs</span>
                        </a>
                    </li>

                    <li title="Effectifs">
                        <a href="{{ path('effectif_index') }}">
                            <span class="menu_icon"><i class="material-icons">group</i></span>
                            <span class="menu_title">Effectifs</span>
                        </a>
                    </li>

                    <li title="Secteurs">
                        <a href="{{ path('prisesNeuves_index') }}">
                            <span class="menu_icon"><i class="material-icons">tab_unselected</i></span>
                            <span class="menu_title">Prises</span>
                        </a>
                    </li>

                    <li title="Secteurs">
                        <a href="{{ path('production_index') }}">
                            <span class="menu_icon"><i class="material-icons">tab_unselected</i></span>
                            <span class="menu_title">Production</span>
                        </a>
                    </li>

                    <li title="Secteurs">
                        <a href="{{ path('remuneration_index') }}">
                            <span class="menu_icon"><i class="material-icons">tab_unselected</i></span>
                            <span class="menu_title">Rémunération</span>
                        </a>
                    </li>

                    <li title="Secteurs">
                        <a href="{{ path('nmdProduct') }}">
                            <span class="menu_icon"><i class="material-icons">inventory_2</i></span>
                            <span class="menu_title">Product</span>
                        </a>
                    </li>

                </ul>
            </div>

        </aside>

    </aside>
