{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block baseStylesheets %}
    <link rel="stylesheet" href="{{ asset('bower_components/select2/dist/css/select2.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/customizedStyle.css') }}">
{% endblock %}


{% block body %}

    <div id="page_content" class="height-700">

        <div id="page_content_inner" class="height-700">

            <div class="md-card height-700">
                <div class="uk-grid uk-grid uk-grid-collapse uk-grid-divider uk-flex" data-uk-grid-match>
                    
                    <div class="uk-width-large-1-6 uk-width-medium-1-3 js_collapsible_column height-700">
                        
                        <div class="md-card-toolbar {{pageColor}}">
                            <div class="md-card-toolbar-actions uk-hidden-small">
                                {# <i class="md-icon material-icons js_hidden">&#xE5D5;</i> #}
                                <a href="#" data-column-toggle>
                                    <i class="md-icon material-icons" title="Collapse">format_indent_decrease</i>
                                    <i class="md-icon material-icons" style="display: none" title="Expand">format_indent_increase</i>
                                </a>
                            </div>
                            <h1 class="md-card-toolbar-heading-text js_hidden uk-text-overflow pageTitle">
                                <i class="material-icons">{{pageIcon}}</i></span>
                                <span>{{pageTitle}}</span>
                            </h1>
                        </div>

                        {# menu contextuel #}
                        {% include rootTemplate ~ '/component/contextual_menu.html.twig' %}
                        
                    </div>
                    
                    <div class="uk-flex-item-1">
                        
                        {# nav bar contextuel #}
                        {% include rootTemplate ~ '/component/partials/contextual_secondary_nav_'~ rootPage ~'.html.twig' %}
                        
                        <div class="md-card-content mostly-customized-scrollbar mainScroll">


                            <!-- Tabs content -->
                            <div
                                    class="tab-pane fade show active"
                                    id="ex1-tabs-1"
                                    role="tabpanel"
                                    aria-labelledby="ex1-tab-1"
                            >
                                <div class="pt-15 pb-15 pl-3 borderBottom height50">
                                    <h3 class="m-0 title2">

                                        Ajouter des comptes principaux et des rôles à la ressource ...
                                    </h3>
                                </div>
                                <div class="pt-2 pb-2">

                                    <div class="message">
                                        <div class="message-icon">
                                            <i class="material-icons">info</i>
                                        </div>
                                        <div class="message-content">
                                            <p>
                                                Certains produits Google Cloud n'utilisent pas les contacts essentiels pour envoyer des notifications.
                                                Il est donc possible que des notifications soient adressées aux comptes principaux disposant de certains rôles
                                                IAM (par exemple, administrateur de la facturation ou propriétaire du projet) plutôt qu'aux membres de la liste
                                                de contacts que vous configurez ici.
                                            </p>
                                        </div>
                                    </div>

                                    <div class="uk-form-row">
                                        <h3 class="heading_a">Formulaire</h3>

                                        <div class="md-card-content">
                                            <div class="uk-grid">
                                                <div class="uk-width-1-1">
                                                    <ul class="uk-tab" data-uk-tab="{connect:'#tabs_1_content'}" id="tabs_1">
                                                        <li class="uk-active"><a href="#">Personnel</a></li>
                                                        <li><a href="#">Rôle</a></li>
                                                        <li class="named_tab"><a href="#">Autorisations</a></li>
                                                    </ul>
                                                    <ul id="tabs_1_content" class="uk-switcher uk-margin">
                                                        <li>
                                                            <div class="uk-grid" data-uk-grid-margin>
                                                                <div class="uk-width-1 md-input-filled">
                                                                    <label>Email</label>
                                                                    <input type="text" name="email" value="{{ userInfos.email }}" class="md-input label-fixed customizedInput" />
                                                                </div>

                                                            </div>

                                                            <div class="uk-grid" data-uk-grid-margin>
                                                                <div class="uk-width-medium-1-2 md-input-filled">
                                                                    <label>Prénom</label>
                                                                    <input type="text" name="firstname" value="{{ userInfos.firstname }}" class="md-input label-fixed customizedInput" />
                                                                </div>

                                                                <div class="uk-width-medium-1-2 md-input-filled">
                                                                    <label>Nom</label>
                                                                    <input type="text" name="lastname" value="{{ userInfos.lastname }}" class="md-input label-fixed customizedInput" />
                                                                </div>

                                                                <div class="uk-width-medium-1-2 md-input-filled">
                                                                    <label>Numéro de téléphone</label>
                                                                    <input type="text" name="phone_number" value="{{ userInfos.phone }}" class="md-input label-fixed customizedInput" />
                                                                </div>

                                                                <div class="uk-width-medium-1-2 md-input-filled">
                                                                    <label>Code utilisateur interne</label>
                                                                    <input type="text" name="prestataireId" value="{{ userInfos.prestataireId }}" class="md-input label-fixed customizedInput" />
                                                                </div>

                                                                <div class="uk-width-medium-1-2 md-input-filled">
                                                                    <label>Code utilisateur additionnel</label>
                                                                    <input type="text" name="myIp" value="{{ userInfos.myIp }}" class="md-input label-fixed customizedInput" />
                                                                </div>

                                                                <div class="uk-width-medium-1-2 md-input-filled">
                                                                    <label>Adresse (optionnel)</label>
                                                                    <input type="text" name="adress" value="{{ userInfos.address }}" class="md-input label-fixed customizedInput" />
                                                                </div>

                                                            </div>
                                                        </li>
                                                        <li>

                                                            {# Roles / hierarchie #}

                                                            <input type="hidden" id="nameOfUserConnected" value="{{ app.user.firstname|upper }} {{ app.user.lastname|upper }}">

                                                            <div class="uk-grid" data-uk-grid-margin>
                                                                {% if countCpvPossibleOfUserConnected > 1 %}

                                                                    {# si le role est SFR , SFR peut changer le / les partenaires #}
                                                                    {% if is_granted ('ROLE_SFR') %}

                                                                        <div class="uk-width-medium-1-2 md-input-filled">
                                                                            <label>Choix des comptes</label>
                                                                            <select required class="md-input label-fixed customizedInput" multiple
                                                                                    data-container-css-class="select-sm">

                                                                                {% for account in getcpvPossibleOfUserConnected %}

                                                                                    {% if account.cpv_courtier_exploitant in userInfos.cpvCourtierExploitant|split(',')  %}
                                                                                        <option selected value="{{account.cpv_courtier_exploitant}}">{{account.company}}</option>
                                                                                    {% else %}
                                                                                        <option value="{{account.cpv_courtier_exploitant}}">{{account.company}}</option>
                                                                                    {% endif %}

                                                                                {% endfor %}

                                                                            </select>
                                                                        </div>

                                                                        {# sinon le user connecté ne peut pas changer le / les partenaires #}
                                                                    {% else %}

                                                                        <div class="uk-width-medium-1-2 md-input-filled" style="display: none">
                                                                            <label>Choix des comptes</label>
                                                                            <select required class="md-input label-fixed customizedInput" multiple
                                                                                    data-container-css-class="select-sm">

                                                                                {% for account in getcpvPossibleOfUserConnected %}

                                                                                    {% if account.cpv_courtier_exploitant in userInfos.cpvCourtierExploitant|split(',')  %}
                                                                                        <option selected value="{{account.cpv_courtier_exploitant}}">{{account.company}}</option>
                                                                                    {% else %}
                                                                                        <option value="{{account.cpv_courtier_exploitant}}">{{account.company}}</option>
                                                                                    {% endif %}

                                                                                {% endfor %}

                                                                            </select>
                                                                        </div>

                                                                    {% endif %}

                                                                {% else %}

                                                                    <div class="uk-width-medium-1-2 md-input-filled">
                                                                        <label>Choix des comptes</label>
                                                                        <select name="accountChoice" required class="md-input label-fixed customizedInput"
                                                                                data-container-css-class="select-sm">

                                                                            <option selected value="{{accountArrayForuserConnected[0].cpv_courtier_exploitant}}">{{accountArrayForuserConnected[0].company}}</option>

                                                                        </select>
                                                                    </div>

                                                                {% endif %}


                                                                {# ROLE  #}
                                                                {% if is_granted('ROLE_SFR') %}


                                                                {% endif %}

                                                                {% if is_granted('ROLE_COMPANY')%}

                                                                    <div class="uk-width-medium-1-2 md-input-filled">
                                                                        <label>Choix du rôle</label>
                                                                        <select name="default_select" required class="md-input label-fixed customizedInput"
                                                                                data-container-css-class="select-sm">

                                                                            <option value="" selected disabled>...</option>

                                                                            {% if 'ROLE_TELEOP' in userInfos.roles  %}
                                                                                <option selected value="teleOperator">BO</option>
                                                                            {% else %}
                                                                                <option value="teleOperator">BO</option>
                                                                            {% endif %}

                                                                            {# Actuellement la création en multi cpv est limitée au role BO
                                            Donc, si il y en plus qu'un la modif ne peut se faire que sur ce role #}
                                                                            {% if countGetChildrenOfUserConnected > 1 %}

                                                                                {% if 'ROLE_DIRECTOR' in userInfos.roles  %}
                                                                                    <option class="rolesBySFR" selected value="director">DIRECTEUR</option>
                                                                                {% else %}
                                                                                    <option class="rolesBySFR" value="director">DIRECTEUR</option>
                                                                                {% endif %}

                                                                                {% if 'ROLE_MANAGER' in userInfos.roles  %}
                                                                                    <option class="rolesBySFR"  selected value="manager">MANAGER</option>
                                                                                {% else %}
                                                                                    <option class="rolesBySFR" value="manager">MANAGER</option>
                                                                                {% endif %}

                                                                                {% if 'ROLE_SELLER' in userInfos.roles  %}
                                                                                    <option class="rolesBySFR" selected value="seller">VENDEUR</option>
                                                                                {% else %}
                                                                                    <option class="rolesBySFR" value="seller">VENDEUR</option>
                                                                                {% endif %}

                                                                                {% if 'ROLE_ENCADRANT' in userInfos.roles  %}
                                                                                    <option class="rolesBySFR" selected value="encadrant">ENCADRANT</option>
                                                                                {% else %}
                                                                                    <option class="rolesBySFR" value="encadrant">ENCADRANT</option>
                                                                                {% endif %}

                                                                            {% else %}

                                                                                {% if 'ROLE_DIRECTOR' in userInfos.roles  %}
                                                                                    <option selected value="director">DIRECTEUR</option>
                                                                                {% else %}
                                                                                    <option value="director">DIRECTEUR</option>
                                                                                {% endif %}

                                                                                {% if 'ROLE_MANAGER' in userInfos.roles  %}
                                                                                    <option selected value="manager">MANAGER</option>
                                                                                {% else %}
                                                                                    <option value="manager">MANAGER</option>
                                                                                {% endif %}

                                                                                {% if 'ROLE_SELLER' in userInfos.roles  %}
                                                                                    <option selected value="seller">VENDEUR</option>
                                                                                {% else %}
                                                                                    <option value="seller">VENDEUR</option>
                                                                                {% endif %}

                                                                                {% if 'ROLE_ENCADRANT' in userInfos.roles  %}
                                                                                    <option selected value="encadrant">ENCADRANT</option>
                                                                                {% else %}
                                                                                    <option value="encadrant">ENCADRANT</option>
                                                                                {% endif %}

                                                                            {% endif %}
                                                                        </select>
                                                                    </div>

                                                                {% endif %}

                                                                {# Change role NO auto modification #}
                                                                {% if is_granted('ROLE_DIRECTOR') %}

                                                                    <div class="uk-width-medium-1-2 md-input-filled">
                                                                        <label>Choix du rôle</label>
                                                                        <select name="default_select" required class="md-input label-fixed customizedInput"
                                                                                data-container-css-class="select-sm">

                                                                            {# ici le user voit son propre role en cas d'auto modification #}
                                                                            {% if userIdToEdit == userId %}
                                                                                {% if 'ROLE_DIRECTOR' in userInfos.roles  %}
                                                                                    <option selected value="director">DIRECTEUR</option>
                                                                                {% else %}
                                                                                    <option value="director">DIRECTEUR</option>
                                                                                {% endif %}
                                                                            {% endif %}

                                                                            {% if 'ROLE_TELEOP' in userInfos.roles  %}
                                                                                <option selected value="teleOperator">BO</option>
                                                                            {% else %}
                                                                                <option value="teleOperator">BO</option>
                                                                            {% endif %}

                                                                            {# Actuellement la création en multi cpv est limitée au role BO
                                            Donc, si il y en plus qu'un la modif ne peut se faire que sur ce role #}
                                                                            {% if countGetChildrenOfUserConnected > 1 %}

                                                                                {% if 'ROLE_MANAGER' in userInfos.roles  %}
                                                                                    <option class="rolesBySFR" selected value="manager">MANAGER</option>
                                                                                {% else %}
                                                                                    <option class="rolesBySFR" value="manager">MANAGER</option>
                                                                                {% endif %}

                                                                                {% if 'ROLE_SELLER' in userInfos.roles  %}
                                                                                    <option class="rolesBySFR" selected value="seller">VENDEUR</option>
                                                                                {% else %}
                                                                                    <option class="rolesBySFR" value="seller">VENDEUR</option>
                                                                                {% endif %}

                                                                            {% else %}

                                                                                {% if 'ROLE_MANAGER' in userInfos.roles  %}
                                                                                    <option selected value="manager">MANAGER</option>
                                                                                {% else %}
                                                                                    <option value="manager">MANAGER</option>
                                                                                {% endif %}

                                                                                {% if 'ROLE_SELLER' in userInfos.roles  %}
                                                                                    <option selected value="seller">VENDEUR</option>
                                                                                {% else %}
                                                                                    <option value="seller">VENDEUR</option>
                                                                                {% endif %}

                                                                            {% endif %}

                                                                        </select>
                                                                    </div>

                                                                {% endif %}

                                                                {% if is_granted('ROLE_MANAGER')%}

                                                                    <div class="uk-width-medium-1-2 md-input-filled">
                                                                        <label>Choix du rôle</label>
                                                                        <select name="default_select" required class="md-input label-fixed customizedInput"
                                                                                data-container-css-class="select-sm">

                                                                            {# ici le user voit son propre role en cas d'auto modification #}
                                                                            {% if userIdToEdit == userId %}
                                                                                {% if 'ROLE_MANAGER' in userInfos.roles  %}
                                                                                    <option selected value="manager">MANAGER</option>
                                                                                {% else %}
                                                                                    <option value="manager">MANAGER</option>
                                                                                {% endif %}
                                                                            {% endif %}

                                                                            {% if 'ROLE_SELLER' in userInfos.roles  %}
                                                                                <option selected value="seller">VENDEUR</option>
                                                                            {% else %}
                                                                                <option value="seller">VENDEUR</option>
                                                                            {% endif %}

                                                                        </select>
                                                                    </div>

                                                                {% endif %}

                                                                {% if is_granted('ROLE_SELLER') %}

                                                                    <div class="uk-width-medium-1-2 md-input-filled">
                                                                        <label>Choix du rôle</label>
                                                                        <select name="default_select" required class="md-input label-fixed customizedInput"
                                                                                data-container-css-class="select-sm">

                                                                            <option selected  value="seller">VENDEUR</option>

                                                                        </select>
                                                                    </div>

                                                                {% endif %}

                                                                {% if is_granted('ROLE_TELEOP') %}

                                                                    <div class="uk-width-medium-1-2 md-input-filled">
                                                                        <label>Choix du rôle</label>
                                                                        <select name="default_select" required class="md-input label-fixed customizedInput"
                                                                                data-container-css-class="select-sm">

                                                                            <option selected  value="teleOperator">BO</option>

                                                                        </select>
                                                                    </div>

                                                                {% endif %}

                                                                {# Responsable #}


                                                                {# dans le cas d'une auto modification , le partent est celui du user connecté #}
                                                                {% if userIdToEdit == userId %}

                                                                    <div class="uk-width-medium-1-2 md-input-filled">
                                                                        <label>Choix du responsable</label>
                                                                        <select name="responsable_select" required class="md-input label-fixed customizedInput"
                                                                                data-container-css-class="select-sm">

                                                                            <option selected value="{{getParentAutoModification[0].id}}">{{getParentAutoModification[0].firstname ~ ' ' ~ getParentAutoModification[0].lastname}}</option>

                                                                        </select>
                                                                    </div>

                                                                {% else %}

                                                                    <div class="uk-width-medium-1-2 md-input-filled">
                                                                        <label>Choix du responsable</label>
                                                                        <select name="responsable_select" required class="md-input label-fixed customizedInput"
                                                                                data-container-css-class="select-sm">

                                                                            <option value="" disabled>...</option>

                                                                            {% for parent in getParent %}

                                                                                {# Si le role SFR est dans le parent , remplacer son nom par le celui du user connecté #}
                                                                                {% if 'ROLE_SFR' in parent.roles %}
                                                                                    {% set parentName = app.user.company|upper %}
                                                                                {% else %}
                                                                                    {% set parentName = parent.firstname|upper ~ ' ' ~ parent.lastname|upper %}
                                                                                {% endif %}

                                                                                {% if responsableInfos.id == parent.id  %}

                                                                                    <option selected value="{{parent.id}}">{{parentName}}</option>

                                                                                {% else %}

                                                                                    <option  value="{{parent.id}}">{{parentName}}</option>

                                                                                {% endif %}

                                                                            {% endfor %}
                                                                        </select>
                                                                    </div>

                                                                {% endif %}

                                                            </div>

                                                        </li>
                                                        <li>
                                                            <div class="" style="padding-bottom: 20px;">
                                                                <div class="uk-grid" data-uk-grid-margin>
                                                                    {% if userInfos.ticketAuth == true or userInfos.ticketAuth == 1  %}

                                                                        <div class="uk-width-1">
                                                                            <input type="checkbox" id="ticketsEdition" data-on-text="OUI" data-off-text="NON" data-switchery data-switchery-color="#3367d6" checked />
                                                                            <label for="switch_demo_primary" class="inline-label">Edition des tickets</label>

                                                                        </div>

                                                                    {% else %}

                                                                        <div class="uk-width-1">

                                                                            <input type="checkbox" id="ticketsEdition" data-on-text="OUI" data-off-text="NON" data-switchery data-switchery-color="#3367d6" />
                                                                            <label for="switch_demo_primary" class="inline-label">Edition des tickets</label>
                                                                        </div>

                                                                    {% endif %}

                                                                    {% if userInfos.IsAuthorizedToMigrables == true or userInfos.IsAuthorizedToMigrables == 1  %}

                                                                        <div class="uk-width-1">

                                                                            <input type="checkbox" id="migrablesVisu" data-on-text="OUI" data-off-text="NON" data-switchery data-switchery-color="#3367d6" checked />
                                                                            <label for="switch_demo_primary" class="inline-label">Accès aux prises migrables</label>

                                                                        </div>

                                                                    {% else %}

                                                                        <div class="uk-width-1">

                                                                            <input type="checkbox" id="migrablesVisu" data-on-text="OUI" data-off-text="NON" data-switchery data-switchery-color="#3367d6" />
                                                                            <label for="switch_demo_primary" class="inline-label">Accès aux prises migrables</label>

                                                                        </div>

                                                                    {% endif %}

                                                                    {% if userInfos.isAuthorizedToExportPrisesNeuves == true or userInfos.isAuthorizedToExportPrisesNeuves == 1 %}

                                                                        <div class="uk-width-1">

                                                                            <input type="checkbox" id="exportPrisesNeuves" data-on-text="OUI" data-off-text="NON" data-switchery data-switchery-color="#3367d6" checked />
                                                                            <label for="switch_demo_primary" class="inline-label">Export des prises neuves</label>

                                                                        </div>

                                                                    {% else %}

                                                                        <div class="uk-width-1">

                                                                            <input type="checkbox" id="exportPrisesNeuves" data-on-text="OUI" data-off-text="NON" data-switchery data-switchery-color="#3367d6" />
                                                                            <label for="switch_demo_primary" class="inline-label">Export des prises neuves</label>

                                                                        </div>

                                                                    {% endif %}

                                                                    {% if app.user.isAuthorizedToCreateUser == 1 or is_granted('ROLE_SFR') %}
                                                                        {% if userInfos.isAuthorizedToCreateUser == true or userInfos.isAuthorizedToCreateUser == 1  %}

                                                                            <div class="uk-width-1">

                                                                                <input type="checkbox" id="isPartnerallowedToCreateUsers" data-on-text="OUI" data-off-text="NON" data-switchery data-switchery-color="#3367d6" checked />
                                                                                <label for="switch_demo_primary" class="inline-label">Création des utilisateurs</label>

                                                                            </div>

                                                                        {% else %}

                                                                            <div class="uk-width-1">

                                                                                <input type="checkbox" id="isPartnerallowedToCreateUsers" data-on-text="OUI" data-off-text="NON" data-switchery data-switchery-color="#3367d6" />
                                                                                <label for="switch_demo_primary" class="inline-label">Création des utilisateurs</label>

                                                                            </div>

                                                                        {% endif %}
                                                                    {% endif %}

                                                                    {% if app.user.isAuthorizedToEditUser == 1 or is_granted('ROLE_SFR') %}
                                                                        {% if userInfos.isAuthorizedToEditUser == true or userInfos.isAuthorizedToEditUser == 1  %}

                                                                            <div class="uk-width-1">

                                                                                <input type="checkbox" id="isPartnerallowedToEditUsers" data-on-text="OUI" data-off-text="NON" data-switchery data-switchery-color="#3367d6" checked />
                                                                                <label for="switch_demo_primary" class="inline-label">Modification des utilisateurs</label>

                                                                            </div>

                                                                        {% else %}

                                                                            <div class="uk-width-1">

                                                                                <input type="checkbox" id="isPartnerallowedToEditUsers" data-on-text="OUI" data-off-text="NON" data-switchery data-switchery-color="#3367d6" />
                                                                                <label for="switch_demo_primary" class="inline-label">Modification des utilisateurs</label>

                                                                            </div>

                                                                        {% endif %}
                                                                    {% endif %}

                                                                    {% if userInfos.IsEnabled == true or userInfos.IsEnabled == 1 %}

                                                                        <div class="uk-width-1">

                                                                            <input type="checkbox" id="userActivation" data-on-text="OUI" data-off-text="NON" data-switchery data-switchery-color="#3367d6" checked />
                                                                            <label for="switch_demo_primary" class="inline-label">Enabled</label>

                                                                        </div>

                                                                    {% else %}

                                                                        <div class="uk-width-1">

                                                                            <input type="checkbox" id="userActivation" data-on-text="OUI" data-off-text="NON" data-switchery data-switchery-color="#3367d6" />
                                                                            <label for="switch_demo_primary" class="inline-label">Enabled</label>

                                                                        </div>

                                                                    {% endif %}

                                                                </div>
                                                            </div>

                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="mt50">
                                            <button class="md-btn md-btn-primary submitbTN" href="javascript:void(0)">ENREGISTRER</button>
                                            <button class="md-btn md-btn-default cancelBtn" href="javascript:void(0)">ANNULER</button>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <!-- Tabs content -->

                        </div>

                    </div>
                    
                    <div class="uk-width-large-1-5 uk-width-medium-1-3 js_collapsible_column collapsed">
                        
                        <div class="md-card-toolbar md-bg-grey-100">
                            <div class="md-card-toolbar-actions uk-hidden-small">
                                <a href="#" data-column-toggle>
                                    <i class="md-icon material-icons" title="Collapse">format_indent_increase</i>
                                    <i class="md-icon material-icons" style="display: none"
                                        title="Expand">format_indent_decrease</i>
                                </a>
                            </div>
                            <h3 class="md-card-toolbar-heading-text js_hidden">
                                Filtres
                            </h3>
                        </div>
                        
                        {# Filters #}
                        {% include rootTemplate ~ '/component/contextual_filters.html.twig' %}
                        
                    </div>

                </div>
            </div>

        </div>

    </div>
    
{% endblock %}

{% block baseJavascripts %}

    <script src="{{ asset('bower_components/jquery-ui/jquery-ui.min.js') }}"></script>

    <!-- ionrangeslider -->
    <script src="{{asset('bower_components/ion.rangeslider/js/ion.rangeSlider.min.js')}}"></script>
    <script src="{{asset('bower_components/select2/dist/js/select2.min.js')}}"></script>
    <script src="{{ asset('assets/js/prisesNeuves.js') }}"></script>


{% endblock %}
