{% extends 'base.html.twig' %}

{% block title %}Effectifs{% endblock %}

{% block baseStylesheets %}
    <link rel="stylesheet" href="{{ asset('bower_components/select2/dist/css/select2.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/customizedStyle.css') }}">

{% endblock %}

{% block body %}

    <div id="page_content" class="height-700">

        <div id="page_content_inner" class="height-700">

            <div class="md-card height-700">
                <div class="uk-grid uk-grid uk-grid-collapse uk-grid-divider uk-flex" data-uk-grid-match>
                    
                    <div class="uk-width-large-1-6 uk-width-medium-1-3 js_collapsible_column height-700">
                        
                         <div class="md-card-toolbar {{pageColor}}">
                            <div class="md-card-toolbar-actions uk-hidden-small">
                                {# <i class="md-icon material-icons js_hidden">&#xE5D5;</i> #}
                                <a href="#" data-column-toggle>
                                    <i class="md-icon material-icons" title="Collapse">format_indent_decrease</i>
                                    <i class="md-icon material-icons" style="display: none" title="Expand">format_indent_increase</i>
                                </a>
                            </div>
                            <h1 class="md-card-toolbar-heading-text js_hidden uk-text-overflow pageTitle">
                                <i class="material-icons">{{pageIcon}}</i>
                                <span>{{pageTitle}}</span>
                            </h1>
                        </div>

                        {# menu contextuel #}
                        {% include rootTemplate ~ '/component/contextual_menu.html.twig' %}
                        
                    </div>
                    
                    <div class="uk-flex-item-1">
                        
                        {# nav bar contextuel #}
                        {% include rootTemplate ~ '/component/partials/contextual_secondary_nav_'~ rootPage ~'.html.twig' %}

                        <div class="md-card-content mostly-customized-scrollbar mainScroll">


                            <!-- Tabs content -->
                            <div
                                    class="tab-pane fade show active"
                                    id="ex1-tabs-1"
                                    role="tabpanel"
                                    aria-labelledby="ex1-tab-1"
                            >
                                <div class="pt-15 pb-15 borderBottom height50">
                                    <h3 class="m-0 fz18 grisFonce title2">
                                        Répartition par semaine
                                        <label style="float: right;margin-right: 20px">mois</label>
                                    </h3>
                                </div>
                                <div class="pt-2 pb-2">
                                    <div class="pt-15 pb-15 borderBottom">
                                        <h5 class="m-0 fz18 textContent">Gestion et distribution des prises</h5>
                                        <p class="textContent">Les prises que vous visualiser prennent en compte la derniere reception du <span id="maxDate">{{ ""|date('d/m/Y') }}</span></p>
                                    </div>

                                    <div class="message">
                                        <div class="message-icon">
                                            <i class="material-icons">info</i>
                                        </div>
                                        <div class="message-content">
                                            <p>
                                                Certains produits Google Cloud n'utilisent pas les contacts essentiels pour envoyer des notifications.
                                                Il est donc possible que des notifications soient adressées aux comptes principaux disposant de certains rôles
                                                IAM (par exemple, administrateur de la facturation ou propriétaire du projet) plutôt qu'aux membres de la liste
                                                de contacts que vous configurez ici.
                                            </p>
                                        </div>
                                    </div>


                                    <div class="blogFilter">
                                        <div class="filterTitle">
                                                <span class="text_dark">
                                                    <i class="material-icons" style="margin-right: 5px">filter_list</i>
                                                    <span id="valueFilter">Filtre</span>
                                                </span>
                                        </div>
                                        <div id="inputSearch" class="borderRight" >
                                            <select class="selectFilter" id="select_adv_1" name="select_adv_1" multiple>
                                                <option value="2" selected>Venus</option>
                                                <option value="3" selected>Earth</option>
                                            </select>

                                        </div>
                                        <div class="floatLeftIcon">
                                            <div class="iconGoSearch">
                                                {% if(isEnabled=='1') %}
                                                    <a href="{{ path('effectif_index',{isAll: ((isAll=='yes')?'no':'yes'), isEnabled: 0 }) }}">
                                                        <i class="material-icons">visibility_off</i>
                                                    </a>

                                                {% else %}
                                                    <a href="{{ path('effectif_index',{isAll: ((isAll=='yes')?'no':'yes'), isEnabled: 1 }) }}">
                                                        <i class="material-icons">account_circle</i>
                                                    </a>

                                                {% endif %}
                                            </div>
                                            <a class="iconHerarchy" href="{{ path('effectif_index',{isAll: ((isAll=='yes')?'no':'yes') }) }}">
                                                <i class="material-icons">share</i>
                                            </a>
                                            <div class="iconExporter">
                                                <i class="material-icons" id="iconExporter" onclick="exportToCsv()">file_download</i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive uk-overflow-containe">
                                        <table class="table uk-table uk-table-hover uk-table-align-vertical uk-table-nowrap tablesorter tablesorter-altair" id="ts_align">
                                            <thead>
                                            <tr>
                                                <th scope="col" class="checkBoxNomad" data-name="Select" data-priority="5">
                                                    <input type="checkbox"  class="ts_checkbox_all" id="check-all" />
                                                </th>
                                                <th scope="col" class="left-align">Type</th>
                                                <th scope="col">ID</th>
                                                <th scope="col">Nom</th>
                                                <th scope="col" >Prénom</th>
                                                <th scope="col" >Email</th>
                                                <th scope="col" >Téléphone</th>
                                                <th scope="col" >Rôle</th>
                                                <th scope="col" >/</th>
                                            </tr>
                                            </thead>
                                            <tbody id="contentTable">
                                                {% if(isAll=='yes') %}
                                                    {% if (is_granted('ROLE_COMPANY') or role=='COMPANY')%}
                                                        {% for v in users %}
                                                            <tr dataRole="{{v.role}}" dataNom="{{v.lastname}}" dataPrenom="{{v.firstname}}" class="lineEffectif {{ (v.is_enabled==1)?'':'is_disabled' }}">
                                                                <td class="checkBoxNomad">
                                                                    <input type="checkbox" class="ts_checkbox" data-md-icheck />
                                                                </td>
                                                                <td class="checkBoxNomad">
                                                                    {% if(v.role=='ROLE_DIRECTOR') %}
                                                                        <i class="material-icons" data-uk-tooltip title="ROLE_DIRECTOR">group_add</i>
                                                                    {% elseif(v.role=='ROLE_MANAGER') %}
                                                                        <i class="material-icons" data-uk-tooltip title="ROLE_MANAGER">people</i>
                                                                    {% elseif(v.role=='ROLE_SELLER') %}
                                                                        <i class="material-icons" data-uk-tooltip title="ROLE_SELLER">person</i>
                                                                    {% endif %}
                                                                </td>
                                                                <td>
                                                                    <a href="{{ path('effectif_index',{userId: userId,'director_id': v.id}) }}" class="font-weight-semibold text-primary">{{v.id}}</a>
                                                                </td>
                                                                <td>{{v.lastname}}</td>
                                                                <td>{{v.firstname}}</td>
                                                                <td>{{v.email}}</td>
                                                                <td>{{v.phone}}</td>
                                                                <td>{{v.role}}</td>
                                                                <td class="blackIcon">
                                                                    <span>
                                                                        <a href="{{ path('effectif_edit',{userId: v.id}) }}">
                                                                            <i class="material-icons">edit</i>
                                                                        </a>
                                                                    </span>
                                                                    <span >
                                                                        <i class="material-icons">delete</i>
                                                                    </span>
                                                                </td>
                                                            </tr>
                                                            {% for vManager in v.managers %}
                                                                <tr dataRole="{{vManager.role}}" dataNom="{{vManager.lastname}}" dataPrenom="{{vManager.firstname}}" class="lineEffectif {{ (vManager.is_enabled==1)?'':'is_disabled' }}" style="padding-left: 20px">
                                                                    <td class="checkBoxNomad">
                                                                        <input type="checkbox" class="ts_checkbox" data-md-icheck />
                                                                    </td>
                                                                    <td class="checkBoxNomad">
                                                                        {% if(vManager.role=='ROLE_DIRECTOR') %}
                                                                            <i class="material-icons" data-uk-tooltip title="ROLE_DIRECTOR">group_add</i>
                                                                        {% elseif(vManager.role=='ROLE_MANAGER') %}
                                                                            <i class="material-icons" data-uk-tooltip title="ROLE_MANAGER">people</i>
                                                                        {% elseif(vManager.role=='ROLE_SELLER') %}
                                                                            <i class="material-icons" data-uk-tooltip title="ROLE_SELLER">person</i>
                                                                        {% endif %}
                                                                    </td>
                                                                    <td>
                                                                        <a href="{{ path('effectif_index',{userId: userId,'manager_id': vManager.id}) }}" class="font-weight-semibold text-primary">{{vManager.id}}</a>
                                                                    </td>
                                                                    <td>{{vManager.lastname}}</td>
                                                                    <td>{{vManager.firstname}}</td>
                                                                    <td>{{vManager.email}}</td>
                                                                    <td>{{vManager.phone}}</td>
                                                                    <td>{{vManager.role}}</td>
                                                                    <td class="blackIcon">
                                                                        <span>
                                                                            <a href="{{ path('effectif_edit',{userId: vManager.id}) }}">
                                                                                <i class="material-icons">edit</i>
                                                                            </a>
                                                                        </span>
                                                                        <span >
                                                                            <i class="material-icons">delete</i>
                                                                        </span>
                                                                    </td>
                                                                </tr>
                                                                {% for vSeller in vManager.sellers %}
                                                                    <tr dataRole="ROLE_SELLER" dataNom="{{vSeller.lastname}}" dataPrenom="{{vSeller.firstname}}" class="lineEffectif {{ (vSeller.is_enabled==1)?'':'is_disabled' }}" style="padding-left: 40px">
                                                                        <td class="checkBoxNomad">
                                                                            <input type="checkbox" class="ts_checkbox" data-md-icheck />
                                                                        </td>
                                                                        <td class="checkBoxNomad">
                                                                            <i class="material-icons" data-uk-tooltip title="ROLE_SELLER">person</i>

                                                                        </td>
                                                                        <td>
                                                                            <a class="font-weight-semibold text-primary">{{vSeller.id}}</a>
                                                                        </td>
                                                                        <td>{{vSeller.lastname}}</td>
                                                                        <td>{{vSeller.firstname}}</td>
                                                                        <td>{{vSeller.email}}</td>
                                                                        <td>{{vSeller.phone}}</td>
                                                                        <td>ROLE_SELLER</td>
                                                                        <td class="blackIcon">
                                                                            <span>
                                                                                <a href="{{ path('effectif_edit',{userId: vSeller.id}) }}">
                                                                                    <i class="material-icons">edit</i>
                                                                                </a>
                                                                            </span>
                                                                            <span >
                                                                                <i class="material-icons">delete</i>
                                                                            </span>
                                                                        </td>
                                                                    </tr>
                                                                {% endfor %}
                                                            {% endfor %}
                                                        {% endfor %}
                                                    {% elseif (is_granted('ROLE_DIRECTOR') or role=='DIRECTOR')%}
                                                        {% for v in users %}
                                                            <tr dataRole="{{v.role}}" dataNom="{{v.lastname}}" dataPrenom="{{v.firstname}}" class="lineEffectif {{ (v.is_enabled==1)?'':'is_disabled' }}">
                                                                <td class="checkBoxNomad">
                                                                    <input type="checkbox" class="ts_checkbox" data-md-icheck />
                                                                </td>
                                                                <td class="checkBoxNomad">
                                                                    {% if(v.role=='ROLE_DIRECTOR') %}
                                                                        <i class="material-icons" data-uk-tooltip title="ROLE_DIRECTOR">group_add</i>
                                                                    {% elseif(v.role=='ROLE_MANAGER') %}
                                                                        <i class="material-icons" data-uk-tooltip title="ROLE_MANAGER">people</i>
                                                                    {% elseif(v.role=='ROLE_SELLER') %}
                                                                        <i class="material-icons" data-uk-tooltip title="ROLE_SELLER">person</i>
                                                                    {% endif %}
                                                                </td>
                                                                <td>
                                                                    <a href="{{ path('effectif_index',{userId: userId,'manager_id': v.id}) }}" class="font-weight-semibold text-primary">{{v.id}}</a>
                                                                </td>
                                                                <td>{{v.lastname}}</td>
                                                                <td>{{v.firstname}}</td>
                                                                <td>{{v.email}}</td>
                                                                <td>{{v.phone}}</td>
                                                                <td>{{v.role}}</td>
                                                                <td class="blackIcon">
                                                                    <span>
                                                                            <i class="material-icons">edit</i>
                                                                        </span>
                                                                    <span >
                                                                            <i class="material-icons">delete</i>
                                                                        </span>
                                                                </td>
                                                            </tr>
                                                            {% for vSeller in v.sellers %}
                                                                <tr dataRole="ROLE_SELLER" dataNom="{{vSeller.lastname}}" dataPrenom="{{vSeller.firstname}}" class="lineEffectif {{ (vSeller.is_enabled==1)?'':'is_disabled' }}" style="padding-left: 40px">
                                                                    <td class="checkBoxNomad">
                                                                        <input type="checkbox" class="ts_checkbox" data-md-icheck />
                                                                    </td>
                                                                    <td class="checkBoxNomad">
                                                                        <i class="material-icons" data-uk-tooltip title="ROLE_SELLER">person</i>

                                                                    </td>
                                                                    <td>
                                                                        <a class="font-weight-semibold text-primary">{{vSeller.id}}</a>
                                                                    </td>
                                                                    <td>{{vSeller.lastname}}</td>
                                                                    <td>{{vSeller.firstname}}</td>
                                                                    <td>{{vSeller.email}}</td>
                                                                    <td>{{vSeller.phone}}</td>
                                                                    <td>ROLE_SELLER</td>
                                                                    <td class="blackIcon">
                                                                        <span>
                                                                            <a href="{{ path('effectif_edit',{userId: vSeller.id}) }}">
                                                                                <i class="material-icons">edit</i>
                                                                            </a>
                                                                        </span>
                                                                        <span >
                                                                            <i class="material-icons">delete</i>
                                                                        </span>
                                                                    </td>
                                                                </tr>
                                                            {% endfor %}
                                                        {% endfor %}
                                                    {% elseif (is_granted('ROLE_MANAGER') or role=='MANAGER')%}
                                                        {% for v in users %}
                                                            <tr dataRole="ROLE_SELLER" dataNom="{{v.lastname}}" dataPrenom="{{v.firstname}}" class="lineEffectif {{ (v.is_enabled==1)?'':'is_disabled' }}">
                                                                <td class="checkBoxNomad">
                                                                    <input type="checkbox" class="ts_checkbox" data-md-icheck />
                                                                </td>
                                                                <td class="checkBoxNomad">
                                                                    <i class="material-icons" data-uk-tooltip title="ROLE_SELLER">person</i>

                                                                </td>
                                                                <td>
                                                                    <a {% if(role=='COMPANY')%} href="{{ path('effectif_index',{userId: userId,'director_id': v.id}) }}" {% elseif(role=='DIRECTOR')%} href="{{ path('effectif_index',{userId: userId,'manager_id': v.id}) }}" {% endif%} class="font-weight-semibold text-primary">{{v.id}}</a>
                                                                </td>
                                                                <td>{{v.lastname}}</td>
                                                                <td>{{v.firstname}}</td>
                                                                <td>{{v.email}}</td>
                                                                <td>{{v.phone}}</td>
                                                                <td>ROLE_SELLER</td>
                                                                <td class="blackIcon">
                                                                    <span>
                                                                        <a href="{{ path('effectif_edit',{userId: v.id}) }}">
                                                                            <i class="material-icons">edit</i>
                                                                        </a>
                                                                    </span>
                                                                    <span >
                                                                            <i class="material-icons">delete</i>
                                                                        </span>
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                    {% endif %}
                                                {% else %}
                                                    {% for v in users %}
                                                        <tr dataRole="{{v.role}}" dataNom="{{v.lastname}}" dataPrenom="{{v.firstname}}" class="lineEffectif {{ (v.is_enabled==1)?'':'is_disabled' }}">
                                                            <td class="checkBoxNomad">
                                                                <input type="checkbox" class="ts_checkbox" data-md-icheck />
                                                            </td>
                                                            <td class="checkBoxNomad">
                                                                {% if(v.role=='ROLE_DIRECTOR') %}
                                                                    <i class="material-icons" data-uk-tooltip title="ROLE_DIRECTOR">group_add</i>
                                                                {% elseif(v.role=='ROLE_MANAGER') %}
                                                                    <i class="material-icons" data-uk-tooltip title="ROLE_MANAGER">people</i>
                                                                {% elseif(v.role=='ROLE_SELLER') %}
                                                                    <i class="material-icons" data-uk-tooltip title="ROLE_SELLER">person</i>
                                                                {% endif %}
                                                            </td>
                                                            <td>
                                                                <a {% if(role=='COMPANY')%} href="{{ path('effectif_index',{userId: userId,'director_id': v.id}) }}" {% elseif(role=='DIRECTOR')%} href="{{ path('effectif_index',{userId: userId,'manager_id': v.id}) }}" {% endif%} class="font-weight-semibold text-primary">{{v.id}}</a>
                                                            </td>
                                                            <td>{{v.lastname}}</td>
                                                            <td>{{v.firstname}}</td>
                                                            <td>{{v.email}}</td>
                                                            <td>{{v.phone}}</td>
                                                            <td>{{v.role}}</td>
                                                            <td class="blackIcon">
                                                                <span>
                                                                    <a href="{{ path('effectif_edit',{userId: v.id}) }}">
                                                                        <i class="material-icons">edit</i>
                                                                    </a>
                                                                </span>
                                                                <span >
                                                                    <i class="material-icons">delete</i>
                                                                </span>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                {% endif %}

                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                            <!-- Tabs content -->

                        </div>

                    </div>
                    
                    <div class="uk-width-large-1-5 uk-width-medium-1-3 js_collapsible_column collapsed">
                        
                        <div class="md-card-toolbar md-bg-grey-100">
                            <div class="md-card-toolbar-actions uk-hidden-small">
                                <a href="#" data-column-toggle>
                                    <i class="md-icon material-icons" title="Collapse">format_indent_increase</i>
                                    <i class="md-icon material-icons" style="display: none"
                                        title="Expand">format_indent_decrease</i>
                                </a>
                            </div>
                            <h3 class="md-card-toolbar-heading-text js_hidden">
                                Filtres
                            </h3>
                        </div>
                        
                        {# Filters #}
                        {% include rootTemplate ~ '/component/contextual_filters.html.twig' %}
                        
                    </div>
                    
                </div>
            </div>

        </div>

    </div>
    
{% endblock %}

{% block baseJavascripts %}

    <script src="{{ asset('bower_components/jquery-ui/jquery-ui.min.js') }}"></script>

    <!-- tablesorter -->
    <script src="{{asset('bower_components/tablesorter/dist/js/jquery.tablesorter.min.js')}}"></script>
    <script src="{{asset('bower_components/tablesorter/dist/js/jquery.tablesorter.widgets.min.js')}}"></script>
    <script src="{{asset('bower_components/tablesorter/dist/js/widgets/widget-alignChar.min.js')}}"></script>
    <script src="{{asset('bower_components/tablesorter/dist/js/widgets/widget-columnSelector.min.js')}}"></script>
    <script src="{{asset('bower_components/tablesorter/dist/js/widgets/widget-print.min.js')}}"></script>
    <script src="{{asset('bower_components/tablesorter/dist/js/extras/jquery.tablesorter.pager.min.js')}}"></script>
    <!-- ionrangeslider -->
    <script src="{{asset('bower_components/ion.rangeslider/js/ion.rangeSlider.min.js')}}"></script>
    <script src="{{asset('bower_components/select2/dist/js/select2.min.js')}}"></script>
    <script src="{{ asset('assets/js/nomad/global.js') }}"></script>

    <!-- Start Export xls -->
    <script src="{{ asset('assets/js/exportXls/xlsx.full.min.js') }}"></script>
    <script src="{{ asset('assets/js/exportXls/FileServer.min.js') }}"></script>
    <script>

        var wb = XLSX.utils.book_new();
        wb.Props = {
            Title: "SheetJS Tutorial",
            Subject: "Test",
            Author: "Red Stapler",
            CreatedDate: new Date(2017,12,19)
        };
        wb.SheetNames.push("data");

        var Results=[];
        var item=['ID','NOM','Prénom','Email','Téléphone','Rôle'];


        Results.push(item);
        {% if(isAll=='yes') %}
            {% if (is_granted('ROLE_COMPANY') or role=='COMPANY')%}
                {% for v in users %}
                    var item=['{{ v.id }}' , '{{ v.lastname }}', '{{ v.firstname }}','{{ v.email }}', '{{ v.role }}'];
                    Results.push(item);
                    {% for vManager in v.managers %}
                        var item=['{{ vManager.id }}' , '{{ vManager.lastname }}', '{{ vManager.firstname }}','{{ vManager.email }}', '{{ vManager.role }}'];
                        Results.push(item);
                        {% for vSeller in vManager.sellers %}
                            var item=['{{ vSeller.id }}' , '{{ vSeller.lastname }}', '{{ vSeller.firstname }}','{{ vSeller.email }}', 'ROLE_SELLER'];
                            Results.push(item);
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            {% elseif (is_granted('ROLE_DIRECTOR') or role=='DIRECTOR')%}
                {% for v in users %}
                    var item=['{{ v.id }}' , '{{ v.lastname }}', '{{ v.firstname }}','{{ v.email }}', '{{ v.role }}'];
                    Results.push(item);
                    {% for vSeller in v.sellers %}
                        var item=['{{ vSeller.id }}' , '{{ vSeller.lastname }}', '{{ vSeller.firstname }}','{{ vSeller.email }}', 'ROLE_SELLER'];
                        Results.push(item);
                    {% endfor %}
                {% endfor %}
            {% elseif (is_granted('ROLE_MANAGER') or role=='MANAGER')%}
                {% for v in users %}
                    var item=['{{ v.id }}' , '{{ v.lastname }}', '{{ v.firstname }}','{{ v.email }}', 'ROLE_SELLER'];
                    Results.push(item);
                {% endfor %}
            {% endif %}
            {% else %}
                {% for v in users %}
                    var item=['{{ v.id }}' , '{{ v.lastname }}', '{{ v.firstname }}','{{ v.email }}', '{{ v.role }}'];
                    Results.push(item);
                {% endfor %}
        {% endif %}
        var ws = XLSX.utils.aoa_to_sheet(Results);
        wb.Sheets["data"] = ws;
        var wbout = XLSX.write(wb, {bookType:'xlsx',  type: 'binary'});

        exportToCsv = function() {
            saveAs(new Blob([s2ab(wbout)],{type:"application/octet-stream"}), 'EFFECTIFS.xlsx');
        }

        function s2ab(s) {
            var buf = new ArrayBuffer(s.length); //convert s to arrayBuffer
            var view = new Uint8Array(buf);  //create uint8array as viewer
            for (var i=0; i<s.length; i++) view[i] = s.charCodeAt(i) & 0xFF; //convert to octet
            return buf;
        }

    </script>
    <!-- End Export xls -->


{% endblock %}
