{% extends 'base.html.twig' %}

{% block title %}Hello ModuleQuizzController!
{% endblock %}
{% block baseStylesheets %}
	<link rel="stylesheet" href="{{ asset('bower_components/select2/dist/css/select2.min.css') }}">
	<link rel="stylesheet" href="{{ asset('assets/css/customizedStyle.css') }}">
{% endblock %}

{% block body %}


	<div id="page_content" class="height-700">

		<div id="page_content_inner" class="height-700">

			<div class="md-card height-700">
				<div class="uk-grid uk-grid uk-grid-collapse uk-grid-divider uk-flex" data-uk-grid-match>

					<div class="uk-width-large-1-6 uk-width-medium-1-3 js_collapsible_column height-700">

						<div class="md-card-toolbar {{pageColor}}">
							<div
								class="md-card-toolbar-actions uk-hidden-small">
								{# <i class="md-icon material-icons js_hidden">&#xE5D5;</i> #}
								<a href="#" data-column-toggle>
									<i class="md-icon material-icons" title="Collapse">format_indent_decrease</i>
									<i class="md-icon material-icons" style="display: none" title="Expand">format_indent_increase</i>
								</a>
							</div>
							<h1 class="md-card-toolbar-heading-text js_hidden uk-text-overflow pageTitle">
								<i class="material-icons">{{pageIcon}}</i>
							</span>
							<span>{{pageTitle}}</span>
						</h1>
					</div>

					{# menu contextuel #}
					{% include rootTemplate ~ '/component/contextual_menu.html.twig' %}

				</div>

				<div class="uk-flex-item-1">
					<!-- -->
					{# nav bar contextuel #}
					{% include rootTemplate ~ '/component/contextual_secondary_nav.html.twig' %}

						<div
						class="md-card-content mostly-customized-scrollbar mainScroll"> <!-- Tabs content -->
						<div class="tab-pane fade show active" id="ex1-tabs-1" role="tabpanel" aria-labelledby="ex1-tab-1">


							<h1>Modification d'une question</h1>
							<div style="margin:30px">

								<form action="{{ path('Question_edit',{categoryId}) }}" method="POST">


									<div class="md-card-content">
										<div class="uk-grid">
											<div class="uk-width-1-1">
												<ul class="uk-tab" data-uk-tab="{connect:'#tabs_1_content'}" id="tabs_1">
													<li class="uk-active">
														<a href="#">Question</a>
													</li>

												</ul>
												<ul id="tabs_1_content" class="uk-switcher uk-margin">
													<li>
														<br>

														<div class="uk-width-1 md-input-filled">
															<label for="exampleFormControlInput1" class="form-label">Libelle de la question</label>
															<input type="text" name="libelle" value="{{ categoryInfos.libelle }}" class="md-input label-fixed customizedInput"/>
														</div>
														<input type="hidden" name="id" value="{{ categoryInfos.id }}"/>
													</li>
												</br>

												<div class="uk-grid" data-uk-grid-margin>
													<div class="uk-width-medium-1-2 md-input-filled">
														<label>Crée a la date du
														</label>
														<input type="text" name="CreatedAt" value="{{ categoryInfos.CreatedAt|date('Y-m-d H:i:s') }}" class="md-input label-fixed customizedInput"/>
													</div>

													<div class="uk-width-medium-1-2 md-input-filled">

														<label>modifier a la date du
														</label>
														<input type="text" name="modifyAt" value="{{ categoryInfos.modifyAt|date('Y-m-d H:i:s') }}" class="md-input label-fixed customizedInput"/>
													</div>

													{% set countProps = 0 %}
													{% for Proposition in PropositionAModifier %}
														{% set countProps = countProps + 1 %}

														<div class="uk-width-medium-1-2 md-input-filled">
															<label>Proposition
															</label>
															<input type="text" name="libelleProps{{countProps}}" value="{{ Proposition.libelle }}" class="md-input label-fixed customizedInput"/>
														</div>

														<div class="uk-width-medium-1-2 md-input-filled">
															<label for="exampleFormControlInput1" class="form-label">cette question est-elle corecte</label>
															<input type="checkbox" class="md-input label-fixed customizedInput" id="iscorrect{{countProps}}" name="iscorrect{{countProps}}" data-on-text="1" data-off-text="0" data-switchery data-switchery-color="#3367d6" {% if Proposition.is_correct == 1 %} checked {% endif %} value="1">
														</div>

														<input type="hidden" name="id-Prop{{countProps}}" value="{{ Proposition.id }}"/>


													{% endfor %}

												</div>

											</div>
										</li>
									</ul>

								</div>


								<div id="newPropsAdd"></div>

								<br>

								<button id="buttonAddProps" class="btn btn-primary" onclick="addProps()" type="button">Ajouter une proposition</button>


								{# <div class="uk-width-medium-1-2 md-input-filled">
								                                                                    <label>internName </label>
								                                                                    <input type="text" name="internName" value="{{ categoryInfos.internName  }}" class="md-input label-fixed customizedInput" />
								                                                                </div>
								                                                                  <div class="uk-width-medium-1-2 md-input-filled">
								                                                                    <label>operator_id </label>
								                                                                    <input type="text" name="operatorid" value="{{ categoryInfos.operatorid  }}" class="md-input label-fixed customizedInput" /> 
								#}


								<div class="uk-grid">
									<div class="uk-width-1-1">

										<ul id="tabs_1_content" class="uk-switcher uk-margin">
											<li>

												<div class="uk-width-medium-1-2 md-input-filled">
													<label for="formation" class="form-label">Le nom de la Formation</label>
													<br>
													<select class="md-input label-fixed customizedInput" aria-label="Default select example" name="NomFormaton" id="NomFormaton">
														<option selected>Nom de la formation</option>
														{% for formatio in formation %}
															<option value=" {{ formatio.id }} ">{{ formatio.nom }}</option>
														{% endfor %}
													</select>
												</div>

												<div class="uk-width-medium-1-2 md-input-filled">
													<label for="formation" class="form-label">Le nom du module</label>
													<br>
													<select class="md-input label-fixed customizedInput" aria-label="Default select example" name="Module" id="Module">
														<option selected>Module</option>
														{% for module in modules %}
															<option value=" {{ module.id }} ">{{ module.nom }}</option>
														{% endfor %}
													</select>
												</div>

												<div class="uk-width-medium-1-2 md-input-filled">
													<label for="lvl" class="form-label">Difficulté de la question</label>
													<br>
													<select class="md-input label-fixed customizedInput" aria-label="Default select example" name="lvl">
														<option selected>Choisisser la difficulté de la question</option>
														{% for level in levels %}
															<option value="{{ level.id }}">{{ level.nom }}</option>
														{% endfor %}
													</select>
												</div>

												<div class="uk-width-medium-1-2 md-input-filled">
													<label for="formation" class="form-label">Type de proposition</label>
													<br>
													<select class="md-input label-fixed customizedInput" aria-label="Default select example" name="type" id="typeProps">
														<option selected>Selectionné le type de question</option>
														{% for type in types %}
															<option value=" {{ type.id }} ">{{ type.nom }}</option>
														{% endfor %}
													</select>
												</div>
											</li>
										</div>
									</div>


									<div class="uk-grid" data-uk-grid-margin>


										<div class="uk-width-medium-1-2 md-input-filled">
											<label for="lvl" class="form-label">video selection</label>
											{% if urlVideo == null %}
												<select class="md-input label-fixed customizedInput" aria-label="Default select example" name="video" id="idVideoForm">
													{% for video in videos %}
														<option value="{{ video.id }}">{{ video.url }}</option>
													{% endfor %}
												</select>
											{% else %}
												<select class="md-input label-fixed customizedInput" aria-label="Default select example" name="video" id="idVideoForm">
													<option value="{{ IdlVideo }}" selected>video precedement selectionner :
														{{ urlVideo }}</option>

													{% for video in videos %}
														{# {% set count = count + 1 %}
																																		{% if count <= 1 %} #}

														{# {% else %} #}<option value="{{ video.id }}"> {{ video.url }}
														</option>

														{# {% endif %} #}
													{% endfor %}
												</select>
											{% endif %}

										</div>

										<div class="uk-width-medium-1-2 md-input-filled">

											<label for="exampleFormControlInput1" class="form-label">Modifier pallier pour cette video</label>
											{% if timecode == null %}
												<input type="text" class="md-input label-fixed customizedInput" id="pallier" placeholder="minute.seconde" name="pallierTimecode">
											{% else %}
												<input type="text" class="md-input label-fixed customizedInput" id="pallier" placeholder="minute.seconde" name="pallierTimecode" value="{{ timecode}}">
											{% endif %}
										</div>

									</div>


								</div>
								<button class="md-btn md-btn-primary submitbTN" href="javascript:void(0)" name="Bouton" type="submit">ENREGISTRER</button>
								<button class="md-btn md-btn-default cancelBtn" href="javascript:void(0)" name="annuler">ANNULER</button>
							</form>

						</li>
					</ul>
				</div>
			</div>
		</div>


		{# <div id="videoSelection">
												
		
												<label for="lvl" class="form-label">selection pallier</label>
												<select class="md-input label-fixed customizedInput"  aria-label="Default select example" name="video" id="selectPallier">
													{% for pallier in palliers %}
														<option value="{{ pallier.id }}">{{ pallier.timecode }}</option>
													{% endfor %}
												</select>
		
												<div class="mb-3">
													<label for="exampleFormControlInput1" class="form-label">Ajouter un nouveau pallier pour cette video</label>
													<input type="text" class="form-control" id="pallier" placeholder="minute.seconde" name="pallier">
												</div> 
		
		
											</div>#}
	</div>


</form></div><!-- Tabs content --></div></div><div class="uk-width-large-1-5 uk-width-medium-1-3 js_collapsible_column collapsed"><div class="md-card-toolbar md-bg-grey-100"><div class="md-card-toolbar-actions uk-hidden-small">
<a href="#" data-column-toggle>
	<i class="md-icon material-icons" title="Collapse">format_indent_increase</i>
	<i class="md-icon material-icons" style="display: none" title="Expand">format_indent_decrease</i>
</a></div><h3 class="md-card-toolbar-heading-text js_hidden">
Filtres</h3></div>{# Filters #}{% include rootTemplate ~ '/component/contextual_filters.html.twig' %}</div></div></div></div></div>{% endblock %}{% block baseJavascripts %}<script src="{{ asset('bower_components/jquery-ui/jquery-ui.min.js') }}"></script><script>let countProps = 2;
let pallierJson;
$("#videoSelection").css("display", "none");
$("#propositionsAdd").css("display", "none");


$("#haveAVideo").change(function () {
if (this.checked) {
$("#videoSelection").css("display", "block");
let vr = $("#idVideoForm").val();
getPalliersByVideo(vr);
} else {
$("#videoSelection").css("display", "none");
}
});

$("#typeProps").change(function () {
if (this.value == 1) {
$("#propositionsAdd").css("display", "block");
} else {
$("#propositionsAdd").css("display", "none");
}
});

$("#videoSelection").change(function () {
getPalliersByVideo(this.value);
});

function addProps() {
countProps++;
let newProps = document.createElement("div");

newProps.innerHTML = `<div  class="uk-grid" data-uk-grid-margin>
                       <div  class="uk-width-medium-1-2 md-input-filled">
                            <label for="exampleFormControlInput1" class="form-label"> Libelle de la proposition n°${countProps} </label>
							<input type="text" class="md-input label-fixed customizedInput"  id="libelleProps${countProps}" placeholder="Paris" name="libelleProps${countProps}" >
							</div>	
					<div class="uk-width-medium-1-2 md-input-filled" >
						<label for="exampleFormControlInput1" class="form-label">cette question est-elle corecte</label>
						<input type="checkbox" class="md-input label-fixed customizedInput"  id="iscorrect${countProps}" name="iscorrect${countProps}" data-on-text="1" data-off-text="0" data-switchery data-switchery-color="#3367d6" value="1">							
					</div>
							</br>
							</div>	`
$("#newPropsAdd").append(newProps);
}

function getPalliersByVideo(idVideo) {
const url = "{{ path('Question_edit',{categoryId}) }}";

console.log(idVideo);

$.ajax({
type: "post",
url: url,
data: {
idVideo: parseInt(idVideo)
}
}).done(function (data) {
pallierJson = data;
}).fail(function () {
console.log("fail");
});

}</script>{% endblock %}

 