{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block baseStylesheets %}
    <link rel="stylesheet" href="{{ asset('bower_components/select2/dist/css/select2.min.css') }}">
    <style>
        .tablesorter-altair tbody > tr.even > td {
            background-color: transparent !important;
        }
        .tablesorter-altair .tablesorter-header-inner{
            color: #000 !important;
        }
        .tablesorter-altair .tablesorter-header-inner::after{
            content: '' !important;
        }
        .tablesorter-altair .tablesorter-headerAsc .tablesorter-header-inner::after{
            content: '\e5db' !important;
        }
        .tablesorter-altair .tablesorter-headerDesc .tablesorter-header-inner::after{
            content: '\e5d8' !important;
        }
        .uk-table td{
            padding: 0.20rem 1rem 0.20rem 10px !important;
            color: #6f6f6f !important;
        }
        .uk-table thead th{
            padding: 0.35rem 1rem 0.35rem 10px !important;
            background-color: rgba(0, 0, 0, 0.085) !important;
        }
        .titleContentCustomized{
            color: black !important;
            font-family: Roboto !important;
            font-size: 1.4rem !important;
            font-weight: 400 !important;
        }
        .textContent{
            color: black;
            font-family: Roboto;
            font-size: 13px;
            font-weight: 400;
            line-height: 20px;
            margin-bottom: 0;
            margin-top: 0;
        }
        .message{

            margin-bottom: 16px;
            background-color: #ededed;
            color: rgb(0, 0, 0);
            font-family: Roboto;
            font-size: 13px;
            font-weight: 400;
            line-height: 20px;
            background-color: rgba(0, 0, 0, 0.05);
            border-radius: 4px;
            padding: 1px;
            display: flex;
            position: relative;
            margin-top: 20px;
        }
        .message-icon{
            display: inline-block;
            margin: 16px 24px;
            line-height: 0;
            vertical-align: middle;
            color: #000;
        }
        .message-icon>i{
            color: #000;

            font-size: 18px;
            font-weight: 400;
        }
        .message-content{
            display: flex;
            flex-grow: 1;
            justify-content: space-between;
            flex-wrap: wrap;
            display: inline-flex;
            margin: 8px 16px 8px 0px;
        }
        .message-content>p{
            margin-bottom: 0;
        }

        .customizedInput{
            border: 1px solid #b8b4b4 !important;
            border-radius: 4px !important;
            padding: 8px 0 !important;
            font-size: 13px !important;
            color: #000 !important;
            padding-left: 10px !important;
        }
        .customizedInput:focus{
            border: 2px solid #0d6efd !important;
        }
        .md-input-bar{display: none !important;}
        .md-input-wrapper > label{
            color: #b8b4b4;
            font-size: 13px !important;
            top: 13px !important;
            left: 10px;
        }
        .md-input-focus > label,.md-input-filled > label{
            top: -6px !important;
            width: max-content !important;
            background: white !important;
            color: #000 !important;
            padding: 0 10px;
            left: 10px;
        }
        .title2{
            color: black;
            font-family: "Roboto";
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 24px;
            margin-bottom: 8px;
        }
        .submitbTN{
            background: #3367d6 !important;
            padding: 0px 16px !important;

            font-family: "Roboto" !important;
            font-size: 13px !important;
            font-weight: 500 !important;
            line-height: 32px !important;
            min-width: auto !important;
            text-transform: uppercase;
        }
        .cancelBtn{
            color: #3367d6 !important;
            padding: 0px 16px !important;

            font-family: "Roboto" !important;
            font-size: 13px !important;
            font-weight: 500 !important;
            line-height: 32px !important;
            min-width: auto !important;
            text-transform: uppercase;
        }
        .mt50{
            margin-top: 50px;
            margin-bottom: 50px;
        }


        .uk-grid{
            margin-top: 15px !important;
        }
    </style>
{% endblock %}


{% block body %}

    <div id="page_content" class="height-700">

        <div id="page_content_inner" class="height-700">

            <div class="md-card height-700">
                <div class="uk-grid uk-grid uk-grid-collapse uk-grid-divider uk-flex" data-uk-grid-match>
                    
                    <div class="uk-width-large-1-6 uk-width-medium-1-3 js_collapsible_column height-700">
                        
                        <div class="md-card-toolbar {{pageColor}}">
                            <div class="md-card-toolbar-actions uk-hidden-small">
                                {# <i class="md-icon material-icons js_hidden">&#xE5D5;</i> #}
                                <a href="#" data-column-toggle>
                                    <i class="md-icon material-icons" title="Collapse">format_indent_decrease</i>
                                    <i class="md-icon material-icons" style="display: none" title="Expand">format_indent_increase</i>
                                </a>
                            </div>
                            <h1 class="md-card-toolbar-heading-text js_hidden uk-text-overflow pageTitle">
                                <i class="material-icons">{{pageIcon}}</i></span>
                                <span>{{pageTitle}}</span>
                            </h1>
                        </div>

                        {# menu contextuel #}
                        {% include rootTemplate ~ '/component/contextual_menu.html.twig' %}
                        
                    </div>
                    
                    <div class="uk-flex-item-1">
                        
                        {# nav bar contextuel #}
                        {% include rootTemplate ~ '/component/partials/contextual_secondary_nav_'~ rootPage ~'.html.twig' %}
                        
                        <div class="md-card-content mostly-customized-scrollbar mainScroll">


                            <!-- Tabs content -->
                            <div
                                    class="tab-pane fade show active"
                                    id="ex1-tabs-1"
                                    role="tabpanel"
                                    aria-labelledby="ex1-tab-1"
                            >
                                <div class="pt-15 pb-15 pl-3 borderBottom height50">
                                    <h3 class="m-0 title2">

                                        Ajouter des comptes principaux et des rôles à la ressource ...
                                    </h3>
                                </div>
                                <div class="pt-2 pb-2">

                                    <div class="message">
                                        <div class="message-icon">
                                            <i class="material-icons">info</i>
                                        </div>
                                        <div class="message-content">
                                            <p>
                                                Certains produits Google Cloud n'utilisent pas les contacts essentiels pour envoyer des notifications.
                                                Il est donc possible que des notifications soient adressées aux comptes principaux disposant de certains rôles
                                                IAM (par exemple, administrateur de la facturation ou propriétaire du projet) plutôt qu'aux membres de la liste
                                                de contacts que vous configurez ici.
                                            </p>
                                        </div>
                                    </div>

                                    <div class="uk-form-row">
                                        <h3 class="heading_a">Formulaire</h3>

                                        <div class="uk-grid" data-uk-grid-margin>
                                            <div class="uk-width-medium-1-2 md-input-filled">
                                                <label>Label</label>
                                                <input type="text" class="md-input label-fixed customizedInput" />
                                            </div>

                                            <div class="uk-width-medium-1-2 md-input-filled">
                                                <label>Label 2</label>
                                                <input type="text" class="md-input label-fixed customizedInput" />
                                            </div>

                                        </div>

                                        <div class="uk-grid" data-uk-grid-margin>
                                            <div class="uk-width-medium-1-2 md-input-filled">
                                                <label>Select 1</label>
                                                <select class="md-input label-fixed customizedInput">
                                                    <option></option>
                                                    <option>Option 1</option>
                                                    <option>Option 2</option>
                                                    <option>Option 3</option>
                                                </select>
                                            </div>

                                            <div class="uk-width-medium-1-2 md-input-filled">
                                                <label>Select 2</label>
                                                <select class="md-input label-fixed customizedInput">
                                                    <option></option>
                                                    <option>Option 1</option>
                                                    <option>Option 2</option>
                                                    <option>Option 3</option>
                                                </select>
                                            </div>

                                        </div>

                                        <div class="mt50">
                                            <button class="md-btn md-btn-primary submitbTN" href="javascript:void(0)">ENREGISTRER</button>
                                            <button class="md-btn md-btn-default cancelBtn" href="javascript:void(0)">ANNULER</button>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <!-- Tabs content -->

                        </div>

                    </div>
                    
                    <div class="uk-width-large-1-5 uk-width-medium-1-3 js_collapsible_column collapsed">
                        
                        <div class="md-card-toolbar md-bg-grey-100">
                            <div class="md-card-toolbar-actions uk-hidden-small">
                                <a href="#" data-column-toggle>
                                    <i class="md-icon material-icons" title="Collapse">format_indent_increase</i>
                                    <i class="md-icon material-icons" style="display: none"
                                        title="Expand">format_indent_decrease</i>
                                </a>
                            </div>
                            <h3 class="md-card-toolbar-heading-text js_hidden">
                                Filtres
                            </h3>
                        </div>
                        
                        {# Filters #}
                        {% include rootTemplate ~ '/component/contextual_filters.html.twig' %}
                        
                    </div>

                </div>
            </div>

        </div>

    </div>
    
{% endblock %}

{% block baseJavascripts %}

    <script src="{{ asset('bower_components/jquery-ui/jquery-ui.min.js') }}"></script>

    <!-- tablesorter -->
    <script src="{{asset('bower_components/tablesorter/dist/js/jquery.tablesorter.min.js')}}"></script>
    <script src="{{asset('bower_components/tablesorter/dist/js/jquery.tablesorter.widgets.min.js')}}"></script>
    <script src="{{asset('bower_components/tablesorter/dist/js/widgets/widget-alignChar.min.js')}}"></script>
    <script src="{{asset('bower_components/tablesorter/dist/js/widgets/widget-columnSelector.min.js')}}"></script>
    <script src="{{asset('bower_components/tablesorter/dist/js/widgets/widget-print.min.js')}}"></script>
    <script src="{{asset('bower_components/tablesorter/dist/js/extras/jquery.tablesorter.pager.min.js')}}"></script>
    <!-- ionrangeslider -->
    <script src="{{asset('bower_components/ion.rangeslider/js/ion.rangeSlider.min.js')}}"></script>
    <script src="{{asset('bower_components/select2/dist/js/select2.min.js')}}"></script>
    <script src="{{ asset('assets/js/prisesNeuves.js') }}"></script>

    <!--  tablesorter functions -->
    <script src="{{ asset('assets/js/pages/plugins_tablesorter.min.js') }}"></script>

{% endblock %}
